$body-color: red;
$current-color: rgb(176, 176, 255);

body {
  background-color: $body-color;
}

.data {
  height: 20px;
  background-color: $current-color;
  width: 100px;
  border-style: solid;
  border-color: black;
}