$background-img: url(./background.svg);
$line-colouring: rgb(33, 37, 103);
@font-face {
  font-family: title-font;
  src: url(./fonts/Poppins/Poppins-Bold.ttf);
}
$title: title-font;

body {
  background: $background-img no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 0;
  margin: 0;

  #main {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #bottom {
    display: flex;
    flex-direction: column;
    align-items: center;

    #forecastContainer {
      display: flex;
      width: 80vw;
      overflow: auto;
    }

    #units {
      position: absolute;
      right: 10px;
      bottom: 10px;
    }
  }
}

form {
  margin: 15px;
  margin-right: 0px;
  border-style: none;
  border-bottom-style: solid;
  border-color: $line-colouring;
  border-width: 4px;
  width: 250px;
  height: 1.5rem;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  display: flex;
  justify-content: space-between;

  input {
    width: 90%;
    border: none;
    background-color: none;
    &:focus {
      outline: none;
    }
  }
}


.data {
  height: 20px;
  background-color: $line-colouring;
  width: 300px;
  border-style: solid;
  border-color: black;
}

#weather {
  font-family: $title;
  font-size: 2rem;
}